*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.light{
  background: green;
  color: black;
}
.dark{
  background: black;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 30px;
}
.card{
  width: 100%;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.load{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  display: flex;
  justify-content: center;
  background: #123456;
  box-shadow: 1px 1px 4px rgba(52, 36, 36, 0.853);
  border-radius: 10px;
}
.search input{
  width: 400px;
  height: 50px;
  font-size: 30px;
  padding: 0 10px;
  background: #123456;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
  color: white;
}
.search button{
  width: 120px;
  height: 50px;
  font-size: 30px;
  background: #123456;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 5px;
  color: white;
  cursor: pointer;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 80px;
  border-bottom: 2px solid black;
}
.navbar a{
  font-size: 30px;
  color: black;
}